{{ template "head.html" . }}
{{ template "nav.html" . }}
{{ $imageFilter := .imageFilter }}

<div class="container">
    <h2>Leaderboard</h2>
    {{ if .user }}
    <h6>
        <a href="/export">
            <i>Export CSV</i>
        </a>
    </h6>
    {{ end }}
    <br>
    {{ if .event }}
    <h4><i>{{ .event }}</i></h4>
    {{ end }}
    <div class="filterbuttons">
        {{ if $imageFilter }}
        <p style="color: white; margin-right: 1rem;">
            Only showing <span style="color: {{ $imageFilter.Color }}"><b>{{ $imageFilter.Name }}</b></span>!
        </p>
        &nbsp;
        &nbsp;
        {{ else }}
        <p style="color: white; margin-right: 1rem;">
            Filter by image:
        </p>
        {{ end }}
        <!-- one dropdown instead of a button per image; PT practice levels live on /practice -->
        <select class="custom-select custom-select-sm" aria-label="Filter by image"
                style="width: auto; max-width: 100%; background-color: #343a40; color: #fff; border-color: #454d55;"
                onchange="if (this.value) location.href = this.value">
            <option value="/">All images</option>
            {{ range $image := .config.Image }}{{ if not $image.Practice }}
            <option value="/image/{{ $image.Name }}" {{ if $imageFilter }}{{ if eq $imageFilter.Name $image.Name }}selected{{ end }}{{ end }}>{{ $image.Name }}</option>
            {{ end }}{{ end }}
        </select>
    </div>
    <div class="filterbuttons">
        <br>
        <p>
        </p>
    </div>
    <br>
    <table class="table table-borderless table-dark table-hover scoreboard">
            <thead class="thead-dark">
                <th>Rank</th>
                <th>Team</th>
                {{ if not $imageFilter }}
                <th>Image(s)</th>
                {{ end }}
                <th>Play Time</th>
                <th>Score</th>
            </thead>
            <tbody>
                {{ range $team_rank, $team := .scores }}
                {{ $linktext := "" }}
                {{ if $imageFilter }}
                    {{ $linktext = (print "/team/" $team.Alias "/image/" $imageFilter.Name) }}
                {{ else }}
                    {{ $linktext = (print "/team/" $team.Alias) }}
                {{ end }}
                <tr>
                    <td>
                      <a href="{{ $linktext }}">
                          {{ $team_rank | increment }}
                      </a>
                    </td>
                    <td>
                        <a href="{{ $linktext }}">
                            {{ $team.Alias }}
                        </a>
                    </td>
                    {{ if not $imageFilter }}
                    <td>
                        <a href="{{ $linktext }}">
                            {{ $team.ImageCount }}
                        </a>
                    </td>
                    {{ end }}
                    <td>
                        <a href="{{ $linktext }}">
                            {{ $team.Time }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ $linktext }}">
                            {{ $team.Score }}
                        </a>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>

        <br/><br/>

    </div>

    {{ template "feet.html" }}
